@charset "UTF-8";
/* CSS Document */

      
   body{
      width:100%;
      background:url('/assets/landing1.png') no-repeat top center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
   }
   .content{
      width:80%;
      margin-left:auto;
      margin-right:auto;
      margin-top:50%;
   }
   .adminbtn{
      position:absolute;
      bottom:0;
      right:0;
      margin-right:20px;
      margin-bottom:20px;
   }